#AuthUserFile /usr/local/etc/.htpasswd
#AuthName "sr03"
#AuthType Basic
#<Limit GET POST>
#require user sr03
#</Limit>


RewriteEngine On
RewriteCond %{HTTP_REFERER} .*google.com
#RewriteCond % ^http://(.*)https://(.*) [NC]
RewriteRule ^(.*)$ https://www.utc.fr [R=301,L]

#
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ public/index.php [QSA,L]
